<html>
    <head>
            <link rel="stylesheet" href="kurafan.css">  
    </head>
    <body>
        <header>
            <h1>
                <a href="/">Cube Sugar</a>
            </h1>
            <nav class="pc-nav">
                <ul>
                    <li><a href="#">ログイン</a></li>
                    <li><a href="#">新規登録</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <ul>
                <li><img src="./images/IMG_4983.JPG" width="400" height="300" alt=""></li>
                <li><img src="./images/IMG_4988.JPG" width="400" height="300" alt=""></li>
                <li><img src="./images/S__50315268.jpg" width="400" height="300" alt=""></li>
            </ul>
            <ul>
                <li><img src="./images/IMG_4983.JPG" width="400" height="300" alt=""></li>
                <li><img src="./images/IMG_4988.JPG" width="400" height="300" alt=""></li>
                <li><img src="./images/S__50315268.jpg" width="400" height="300" alt=""></li>
            </ul>
        </main>
        <footer>
            <p>© All rights reserved by Cube Sugar.</p>
        </footer>
    </body>
</html>